<%= link_to 'トップページへ戻る',root_path, class:"btn btn-secondary"%>

<%= form_tag(url: rakuten_books_path, local: true, method: :get) do  %>
  <%= label_tag :keyword, 'キーワード検索' %>
  <%= text_field_tag 'keyword', params[:keyword] %>
  <%= submit_tag "楽天検索" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>画像</th>
    </tr>
  </thead>
  <tbody>
  <% if @items.present? %>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, "#{item.url}" %></td>
        <td align="right"><%= number_with_delimiter(item.price) %>円</td>
        <td><img src="<%= item['smallImageUrls'][0] %>"></td>
        <td><a href="<%= item['itemUrl'] %>" target="_blank"></a></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>